<header class="site-header">
  <div class="wrapper" style="text-align: center;">
    <h1>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </h1>

    <p style="color: #ffffff; font-size: 1.1rem; opacity: 0.8; margin-top: 5px; margin-bottom: 20px; font-weight: 300; letter-spacing: 1px;">{{ site.subtitle }}</p>
    
    <nav class="site-nav" style="text-align: center;">
      <a href="{{ "/" | relative_url }}" style="margin: 0 15px; color: #ffffff; text-decoration: none;">Home</a>
      <a href="{{ "/posts/" | relative_url }}" style="margin: 0 15px; color: #ffffff; text-decoration: none;">Posts</a>
      <a href="{{ "/categories/" | relative_url }}" style="margin: 0 15px; color: #ffffff; text-decoration: none;">Categorias</a>
      <a href="{{ "/about/" | relative_url }}" style="margin: 0 15px; color: #ffffff; text-decoration: none;">Sobre</a>
    </nav>
  </div>
</header>